<h1>Display your Pirate here</h1>
    <div class="pirate">
        <h3>Name: <%= @pirate.name %></h3><br>
        <h4>Weight: <%=@pirate.weight %></h4><br>
        <h4>Height: <%=@pirate.height %></h4><br>
    </div><br>

<h2>Display your first ship here</h2>
<div class="ship_1">
<h3>Name: <%= @@ships[0].name %></h3><br>
<h4>Weight: <%=@@ships[0].type %></h4><br>
<h4>Height: <%=@@ships[0].booty %></h4><br>
</div><br>

<h2>Display your second ship here</h2>
<div class="ship_2">
<h3>Name: <%= @@ships[1].name %></h3><br>
<h4>Weight: <%=@@ships[1].type %></h4><br>
<h4>Height: <%=@@ships[1].booty %></h4><br>
</div><br>